{% extends "/skeleton.html" %}
{% block headScript%}
<script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
{% endblock %}
{% block activePerformance %}
active
{% endblock %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Performances Modèles</h1>
</div>

<div class="row">
  <div class="col-6">
    <h2>Performances</h2>
    <div id="perf1"></div>
  </div>
  <div class="col-6">
    <h2>Loss</h2>
    <div id="loss"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  const perf1 = document.getElementById('perf1');
  const loss = document.getElementById('loss');
  dataPerf1 = {{ dataPerf1|safe }}
  dataLoss = {{ dataLoss|safe }}

	
  Plotly.newPlot( perf1, dataPerf1, 
  {
    title: 'metrics/mAP50(B) VS model/speed_PyTorch(ms)',
    xaxis: {
      title: 'model/speed_PyTorch(ms)'
    },
    yaxis: {
      title: 'metrics/mAP50(B)'
    }
  });

  Plotly.newPlot( loss, dataLoss, 
  {
    title: 'metrics/mAP50-95(B) VS step',
    xaxis: {
      title: 'step'
    },
    yaxis: {
      title: 'metrics/mAP50-95(B)'
    },
    showlegend: false,
    hovermode: 'x unified'
  });
</script>
{% endblock %}