<div class="row">
  <div class="col">
    <form id="form-valid-boxes-by-step" class="form-inline">
      <div class="form-group form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="train-check-3">
        <label class="form-check-label" for="train-check-3">Train</label>
      </div>
      <div class="form-group form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="valid-check-3">
        <label class="form-check-label" for="valid-check-3">Valid</label>
      </div>
      <div class="form-group form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="test-check-3">
        <label class="form-check-label" for="test-check-3">Test</label>
      </div>  
      <button type="submit" class="btn btn-primary ml-2">Actualiser</button>
    </form>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <img class="w-100" id="valid-boxes-by-step"/>
  </div>
</div>

{% block script %}
<script type="text/javascript">
  // Form graph values_by_step
  const manageValidBoxesByStep = () => {
    const searchParam = new URLSearchParams(window.location.href.split('?')[1])
    const graph = document.getElementById('valid-boxes-by-step')
    const form = document.getElementById('form-valid-boxes-by-step')
    const trainCheckBox3 = document.getElementById('train-check-3')
    const validCheckBox3 = document.getElementById('valid-check-3')
    const testCheckBox3 = document.getElementById('test-check-3')

    trainCheckBox3.checked = true
    validCheckBox3.checked = true
    testCheckBox3.checked = true

    const update = () => {
      searchParam.set('train', trainCheckBox3.checked.toString())
      searchParam.set('valid', validCheckBox3.checked.toString())
      searchParam.set('test', testCheckBox3.checked.toString())
      graph.src="/valid-boxes-by-step?" + searchParam.toString()
    }

    form.onsubmit = (event) => {
      event.preventDefault();
      update()
    }

    update()
  }
  manageValidBoxesByStep()

</script>
{% endblock %}
