<div class="row">
  <div class="col">
    <form id="form-values-by-step" class="form-inline">
      <div class="form-group form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="train-check-1">
        <label class="form-check-label" for="train-check-1">Train</label>
      </div>
      <div class="form-group form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="valid-check-1">
        <label class="form-check-label" for="valid-check-1">Valid</label>
      </div>
      <div class="form-group form-check form-check-inline">
        <input type="checkbox" class="form-check-input" id="test-check-1">
        <label class="form-check-label" for="test-check-1">Test</label>
      </div>  
      <label class="d-none" for="select-1">Attribut</label>
      <select class="custom-select ml-2" id="select-1">
        <option value="width">Largeur</option>
        <option value="height">Hauteur</option>
        <option value="ratio">Ratio</option>
      </select>
      <button type="submit" class="btn btn-primary ml-2">Actualiser</button>
    </form>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <img class="w-100" id="values-by-step"/>
  </div>
</div>

{% block script %}
<script type="text/javascript">
  // Form graph values_by_step
  const manageValuesByStep = () => {
    const searchParam = new URLSearchParams(window.location.href.split('?')[1])
    const graph = document.getElementById('values-by-step')
    const form = document.getElementById('form-values-by-step')
    const trainCheckBox1 = document.getElementById('train-check-1')
    const validCheckBox1 = document.getElementById('valid-check-1')
    const testCheckBox1 = document.getElementById('test-check-1')
    const select1 = document.getElementById('select-1')

    trainCheckBox1.checked = true
    validCheckBox1.checked = true
    testCheckBox1.checked = true
    select1.value = 'width'

    const update = () => {
      searchParam.set('train', trainCheckBox1.checked.toString())
      searchParam.set('valid', validCheckBox1.checked.toString())
      searchParam.set('test', testCheckBox1.checked.toString())
      searchParam.set('x', select1.value)
      graph.src="/values-by-step?" + searchParam.toString()
    }

    form.onsubmit = (event) => {
      event.preventDefault();
      update()
    }

    update()
  }
  manageValuesByStep()

</script>
{% endblock %}
