<script type="text/javascript">
  // Images
  const manageImg = () => {
    const searchParam = new URLSearchParams()
    let indexes = []
    const anchors = Array.from(document.querySelectorAll('.images-anchors'))
    const images = Array.from(document.querySelectorAll('.images'))
    const count_indexes = images.length
    let start_image  = 0
    const btnSamplesPrevious = document.getElementById('btnSamplesPrevious')
    const btnSamplesNext = document.getElementById('btnSamplesNext')

    update = async () => {
      const searchParam = new URLSearchParams()
      searchParam.set('start_image', start_image.toString())
      searchParam.set('quantity', count_indexes)
      const response = await fetch('/images-indexes?' + searchParam.toString())
      const result = await response.json()
      let counter = 0
      for (const index of result.indexes)
      {
        const url = "image?index=" + index
        if (anchors.length)
        {
          anchors[counter].href=url
        }
        images[counter].src=url
        counter++
      }
      if (start_image === 0)
      {
        btnSamplesPrevious.setAttribute('disabled', '')
      } else {
        btnSamplesPrevious.removeAttribute('disabled')
      }
    }

    btnSamplesNext.onclick = () => {
      start_image += count_indexes
      update()
    }

    btnSamplesPrevious.onclick = () => {
      start_image -= count_indexes
      update()
    }
  }
  manageImg();
</script>
